{$NC_DOMAIN}:443, cloud.kychou.net {
    reverse_proxy nextcloud-aio-apache:11000
}

{$NC_DOMAIN}:8443, media.kychou.net {
    reverse_proxy nextcloud-aio-jellyfin:8096
}

{$NC_DOMAIN}:9980 {
    reverse_proxy nextcloud-aio-collabora:9980
}
